*{
   margin: 0;
   padding: 0;
}

.container {
   display: flex;
}

.left {
   width: 50vw;
   height: 100vh;
   background: pink;
   text-align: center;
}


.right {
   width: 50vw;
   height: 100vh;
   background: plum;
   text-align: center;
}

.familiar {
   background: red;
   color: white;
   padding: 10px;
   width: 150px;
   margin: 10px;
   font-size: 20px;
   cursor: pointer;
}

.familiar:hover {
   cursor: pointer;
}